a {
    text-decoration: none;
    color: white;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 28px;

    i {
        height: 28px;
    }
}
