.view-login {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url(../../../../../assets/images/jpg/bg-login.jpg);
    background-size: cover;
}

.login-title {
    position: relative;
    top: -34px;
    min-width: 340px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 24px;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.login-card {
    position: relative;
    top: -34px;
    min-width: 340px;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    &-form {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: left;
        flex-direction: column;


        input, label {
            width: 100%;
        }

        input {
            width: calc(100% - 16px);
        }

        input:focus + label {
           color: #3283ff;
        }

        &-btn {
            display: inline-flex;
            justify-content: flex-end;
            width: 100%;
            margin: 8px 0 16px 0;
            overflow: hidden;

            .btn {
                position: relative;
                width: 100%;

                &:before {
                    transition: 340ms;
                    font-family: 'lazyloading';
                    position: absolute;
                    top: 53%;
                    right: -16px;
                    transform: translate(0, -50%);
                    content: '\e07d';
                    font-size: 22px;
                    color: rgba(white, 0.5);
                }

                &:hover {
                    &:before {
                        transition: 140ms;
                        right: 16px;
                    }
                }
            }
        }
    }

    .card-footer {
        font-weight: 300;
        font-size: 12px;
        text-align: center;

        i {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            color: #3183ff;
        }

        strong {
            color: #3283ff;
        }
    }
}
