:host {
    display: flex;
    flex-wrap: wrap;
}

.bloc-city-stats {
    max-width: 48%;
    padding: 16px;
    flex-wrap: wrap;
    flex-grow: 1;

    @media only screen and (max-width: 1090px) {
        width: 100%;
    }

    &.Bayonne { .card-title {  background-image: url("../../../../../../assets/images/png/img-bayonne.png");}}
    &.Royan { .card-title {  background-image: url("../../../../../../assets/images/png/img-royan.png");}}
    &.Bordeaux { .card-title {  background-image: url("../../../../../../assets/images/png/img-bordeaux.png");}}
    &.Bergerac { .card-title {  background-image: url("../../../../../../assets/images/png/img-bergerac.png");}}

    .card-title {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 188px;
        padding: 8px 16px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 8px 0 0 8px;
        color: white;
        z-index: 1;
        text-align: center;
        overflow: hidden;

        @media only screen and (max-width: 1477px) {
            min-width: 48px;

            h1 {transform: rotate(-90deg);}
        }

        @media only screen and (max-width: 1477px) {
            font-size: 12px;
        }

        i {
            font-size: 38px;
            display: block;
            vertical-align: middle;
            margin-right: 8px;

            @media only screen and (max-width: 1477px) {
                transform: rotate(90deg);
                font-size: 28px;
            }
        }

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 99%,rgba(0,0,0,0.4) 100%);
            z-index: -1;
        }
    }

    .card {
        display: flex;
        flex-direction: row;

        .card-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            min-height: 275px;
        }
    }
}
