ADMIN

<form (ngSubmit)="storeLocalizations()">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Enabled ?</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let localization of localizations">
            <td>{{ localization.name }}</td>
            <td>{{ localization.latitude }}</td>
            <td>{{ localization.longitude }}</td>
            <td><input name="enabled" type="checkbox" [(ngModel)]="localization.enabled"></td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Store</button>
</form>
